body{
  font-family: 'Be Vietnam Pro', sans-serif;
}
.royal-img-style{
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
}
.royal-font-size{
  color: bisque;
  font-size: 70px;
}
.royal-btn{
  color: #3F87F5;
  width: 148px;
  height: 44px;
}
.royal-choose{
  color: #3F87F5;
  background-color: #E7E9EB;
  width: 207px;
  height: 45px;
}
.royal-Package{
  color: #130f40;
}

.royal-bg-style{
  background-color: #1B98F5;
  width: 292px;
  height: 480px;
}
.royal-faq-img{
  width: 450px;
  height: 310px;
  border-radius: 5px;
}
.royal-faq-border{
  border: #D5E5FB;
}